.bg-progress {
    background-color: $primary;
}

.card-title {
    text-align: center;
}

.btn-reserve {
    background-color: $primary;
    border-radius: 10px;
    color: white;
    text-align: center;
}