.navbar {
  background-color: $dark;
  padding: 1.4rem 2rem;
  font-size: 1.2rem;
}

.nav-group-1 {
  display: flex;
  justify-content: center;
}

.navbar .nav-item .nav-link {
  color: white;
}

.navbar .nav-item.active {
  background-color: $primary;
  border-radius: 15px;
}

.navbar .nav-item:last-child {
  margin-right: 0;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
}

.navbar .dropdown-menu {
  min-width: 0;
}

.navbar .dropdown-menu .dropdown-item {
  font-size: 1rem;
}

.nav-group-2 ul {
  display: flex;
  justify-content: flex-end;
}

.navbar .entrar {
  margin-left: 1rem;
  background-color: $secondary;
  color: white;
  border: none;
  border-radius: 10px;
}

.navbar .criar-conta {
  margin-left: 1rem;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .v-navigation-drawer--fixed {
    width: 400px !important;
  }
}