.card-login__image {
  background-image: url("../assets/images/azul.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card-login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card {
    width: 80%;
    max-width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.603);
    border: none;
    border-radius: 15px;

    .card-header {
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .form-group {
      margin: 3rem;

      .label-login {
        font-weight: bold;
        display: block;
        margin-bottom: 0.5rem;
      }

      .input-login {
        border-radius: 15px;
        font-size: 23px;
        margin-top: 15px;
        padding: 0.5rem 1rem;
        border: 2px solid #ccc;
        transition: border-color 0.2s;

        &:focus {
          outline: none;
          border-color: #007bff;
          box-shadow: 0 0 0 2px #007bff;
        }
      }
    }

    .button-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    .btn {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .btn-login {
      color: white;
      background-color: $primary;
      transition: all 0.3s ease;
      margin-top: 15px;

      .mdi {
        font-size: 1.4rem;
        margin-right: 7px;
        padding: auto;
      }
    }

    .btn-login:hover {
      background-color: darken($primary, 10%);
    }

    .btn-signup {
      color: $primary;
      background-color: white;
      border: 2px solid $primary;
    }

    .btn-signup:hover {
      color: white;
      background-color: $primary;
    }

    .es {
      text-align: center;
    }
  }
}
